* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida" Grande, sans-serif;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2rem auto 13rem 1fr 2rem;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "header header header header" "about about info info"
    "card card card card " "footer footer footer footer";
  min-height: 100vh;
}
nav {
  grid-column-start: navbar;
  grid-column-end: navbar;
  background-color: black;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
nav ul li {
  padding: 8px 15px;
}
nav ul li a {
  color: white;
  font-size: 19px;
  font-weight: 500;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 3px;
}
.header {
  grid-column-start: 1;
  grid-column-end: 5;
  background-image: url(cr6.jpg);
  min-height: 500px;
  background-position: center;
  background-size: cover;
  height: auto;
  width: 100%;
}
.header h1 {
  color: white;
  display: flex;
  justify-content: start;
  font-size: 45px;
  padding: 200px 5px;
}

.section-one {
  grid-column-start: about;
  grid-column-end: about;
  background-color: rgb(54, 50, 57);
  color: white;
  padding: 10px 20px;
  text-align: justify;
}
.section-two {
  grid-column-start: info;
  grid-column-end: info;
  background-color: rgb(54, 50, 57);
  color: white;
  padding: 10px 20px;
  text-align: justify;
}
h3 {
  font-size: 23px;
  padding-bottom: 20px;
}
article {
  padding: 10px 20px;
}
.card-one {
  display: flex;
  grid-row: card;
  grid-column: card;
  background-color: rgb(253, 253, 253);
  padding: 10px 20px;
}

footer {
  background-color: rgb(0, 0, 0);
  grid-column-start: footer;
  grid-column-end: footer;
  text-align: center;
  color: white;
}
@media screen and (max-width: 980px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr minmax(8rem, auto) auto auto;
    display: inline-block;
    height: 100%;
    grid-template-areas:
      "navbar"
      "header"
      "about info"
      "card"
      "footer";
  }
  .card-one {
    display: grid;
  }
}
